.main{
    border:1px green solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardmain{
   width: 30%;
    border-radius: 50%;
    
}
.card{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}
p{
    text-align: center;
    padding: 0%;
    margin: 0%;
}
.modal-backdrop{
    border:1px red solid;
    z-index: 1 !important;
}
.modal-content{
    border: 1px red solid;
    z-index: 2000 !important;
}